body {
    background: rgb(0, 4, 255);
}

a {
    text-decoration: double #0404a0;
    color: rgb(12, 204, 238);

}

a:hover {
    color: rgb(255, 251, 0);
}

ul {
    padding: 0;
    list-style: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
    text-align: center;
}